<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>Nuevo Post</h1>
        <form action="/Posteo/agregar"  method="post">
            <label for="imagen">URL de la Imagen:</label>
            <input type="text" id="imagen" name="imagen" value="" required><br>
            <label for="textoPosteo">Texto del posteo:</label>
            <input  type="text" id="textoPosteo" name="textoPosteo" value="">
            <button type="submit">Enviar</button>
          </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>